body {
    margin: 0;
}
.Layout {
    display: flex;
    height: 200px;
}
.main {
    flex: 1 1 auto;
    order: 1;
    border: 1px solid #f0f;
}
.aside-left {
    order: 0;
    border: 1px solid #ff0;
}
.aside-right {
    order: 2;
    border: 1px solid #0ff;
}
